<h1>Listing first_appinfos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @first_appinfos.each do |first_appinfo| %>
  <tr>
    <td><%= first_appinfo.name %></td>
    <td><%= first_appinfo.email %></td>
    <td><%= link_to 'Show', first_appinfo %></td>
    <td><%= link_to 'Edit', edit_first_appinfo_path(first_appinfo) %></td>
    <td><%= link_to 'Destroy', first_appinfo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New First appinfo', new_first_appinfo_path %>
